:root {
  --primary-color: #dac5a7;
  --secondary-color: #edd6b6;
  --border-default: rgba(218, 196, 165, 0.15);
  --background-default: #0e0e0e;
  --background-secondary: #1a1a1a;
  --background-tertiary: #dac5a712;
  --background-muted: #dac5a710;
  --background-muted-hover: #dac5a720;
  --background-primary: #dac5a7;
  --text-inverse: #1d1e1f;
}

a:link {
  text-decoration: none;
  color: var(--primary-color);
}
a:visited {
  text-decoration: none;
  color: var(--primary-color);
}

a {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(#dac5a7 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

a:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

/* a:focus {
    text-decoration: underline;
}
a:hover,
a:active {
  text-decoration: none;
  color: black;
} */

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-top: 2%;
  padding: 1% 1%;
  /* border-radius: 1rem; */
  background: var(--background-tertiary);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid #dac5a738;
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
}

.default-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  background-color: transparent;
  color: var(--primary-color);
  font-family: Satoshi, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative; /* Required for the ::after pseudo-element */
  transition: color 0.3s;
}

.default-nav-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.default-nav-button:hover::after {
  width: 100%;
  left: 0;
}

.primary-nav-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 2px;
  padding: 2% 3%;
  background-color: var(--primary-color);
  color: var(--background-default);
  font-family: Satoshi, sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
  position: relative; /* Required for the ::after pseudo-element */
  transition: background-color 0.3s ease, color 0.3s;
}

/* on hover, the button should light in colour up a little in transform */
.primary-nav-button:hover {
  background-color: #edd6b6;
}

.sticky {
  /* background-color: #333; */
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
}

section {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-color);
  width: 100%;
}

.home {
  height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 0% 15%;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  padding: 0% 2.5%;
}

.profile-image img {
  border-radius: 50%;
  /* border-style: solid;
  border-width: 1%;
  border-color: var(--secondary-color); */
  height: 75%;
  width: auto;
}

.profile-info {
  /* font-family: Satoshi-bold, sans-serif; */
  height: auto;
  width: 50;
  padding: 0% 2.5%;
}

.profile-info h1 {
  font-family: Satoshi, sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.profile-info p {
  font-family: Chillax, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 5%;
}

.about-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0%;
}

.about-heading h1 {
  font-family: Satoshi, sans-serif;
  font-weight: 400;
  font-size: 5rem;
  margin: 0;
}

.about-heading h5 {
  font-family: Chillax, sans-serif;
  font-weight: 300;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-content h2{
  font-family: Satoshi, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.about-content p {
  font-family: Chillax, sans-serif;
  font-weight: 300;
  color: var(--primary-color);
  font-size: 1rem;
  line-height: 200%;
}

.resume-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1% 0%;
  width: 20%;
}

.experience {
  color: var(--primary-color);
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

.experience-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-heading h1 {
  font-family: Satoshi, sans-serif;
  font-weight: 500;
  font-size: 5rem;
  margin-bottom: 0;
}

.experience-heading h5 {
  font-family: Chillax, sans-serif;
  font-weight: 300;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0% 5%;
}

.timeline-date {
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-default);
  background-color: var(--background-muted);
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1.5% 1%;
  margin-left: auto;
}

/* span class timeline date font. make every letter capital.. also add bold and italic styles*/
.timeline-date span {
  font-family: Satoshi, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.timeline-heading {
  font-family: Satoshi, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-top: 2.5%;
}

.timeline-heading-sub {
  font-family: Satoshi, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-top: 2%;
}

.timeline-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timeline-content p {
  font-family: Chillax, sans-serif;
  font-weight: 300;
  color: var(--primary-color);
  font-size: 1rem;
  line-height: 200%;
}

/* .projects{
  color: var(--primary-color);  
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
} */

.projects-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0%;
}

.projects-heading h1 {
  font-family: Satoshi, sans-serif;
  font-weight: 500;
  font-size: 5rem;
  margin-bottom: 0;
}

.projects-heading h5 {
  font-family: Chillax, sans-serif;
  font-weight: 300;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0% 5%;
}

